@import 'vaadin/_shepherd-theme-arrows';

@mixin product-tour() {
  &.v-app.shepherd-active.shepherd-modal {
    pointer-events: none !important;

    .shepherd-target.shepherd-enabled {
      $curtainColor: darken($v-window-modality-curtain-background-color, valo-gradient-opacity());
      box-shadow: 0 0 0 99999px rgba(red($curtainColor), green($curtainColor), blue($curtainColor), max(0.2, 0.8 - valo-gradient-opacity()/100%));
      pointer-events: auto;
      position: relative;
      z-index: 20000;
      @if $v-animations-enabled {
        @include valo-animate-in-fade($duration: 400ms, $delay: 100ms);
        .v-op12 & {
          // Opera 12 has a shitbreak with the fade-in (flickers)
          @include animation(none);
        }
      }
    }
  }

  @include shepherd-theme-arrows($themeName: "valo");
}
